<mat-toolbar color="primary">
    <span class="page-title">Kitaab-Worm</span>
    <span class="spacer"></span>
    <span class="username" (click)="home()" style="cursor: pointer;"> Listings </span>
    <span class="username pointer" [matMenuTriggerFor]="menu">
        Notifications
    </span>
    <mat-menu #menu="matMenu">
        <div class="notificationPanel">
            <!-- <div>Notifications</div> -->
            <div class="notContent" *ngIf="notifications.length>0">
                <div *ngFor="let notification of notifications" class="notDiv">
                    <div>
                        <span>{{ notification.message }}</span>
                        <!-- <span *ngIf="!notification.read">(New)</span> -->
                    </div>
                    <!-- <span mat-button class="buttonLink" (click)="markAsRead(notification)">Mark as Read</span> -->
                </div>
            </div>
            <span class="buttonLink" *ngIf="notifications.length>0" mat-button (click)="clearNotifications()">Clear All</span>

            <div class="zeroContent" *ngIf="notifications.length==0">
                You hav 0 notifications.
            </div>
        </div>
    </mat-menu>
    <span class="username" (click)="userProfile()" style="cursor: pointer;"> Profile </span>

    <span class="username" (click)="logOut()" style="cursor: pointer;"> Sign Out</span>
</mat-toolbar>