.notificationPanel {
    // padding: 10px;
    min-width: 258px;
    font-weight: 400;
}

.zeroContent {
    text-align: center;
    font-weight: 400;
}

.notContent {
    max-height: 400px;
}

.notDiv {
    padding: 5px;
    border-bottom: 1px solid #cfcece;
}

.buttonLink {
    cursor: pointer;
    color: cornflowerblue;
    padding: 5px;
}